<section class="content container-fluid ng-scope">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 chat-window">
    
    <ol class="timeline">
      <li data-ng-repeat="history in banking.conversationHistory track by $index">
  
          <img class="fa direct-chat-img" src="{{history.image}}" alt="">
                    <div class="timeline-item">
            
                        <h3 class="timeline-header"><a style="margin-right: 5px;">{{history.user}}</a><i class="fa fa-clock-o"></i> {{history.ts}}</h3>
                        <div class="timeline-body">
                          <span compile="history.text"></span>
                        </div>  
                    </div>
        </li> 
    </ol>
</div>
</div>

</section>

<div class="box-footer">
    
    <div class="input-group">
        <input type="text" name="message" placeholder="Type Message ..." class="form-control ng-valid ng-dirty ng-empty ng-touched" ng-enter="banking.sendUserQuery()" ng-model="banking.userText">
        <span class="input-group-btn">
            <button class="btn btn-block btn-success" ng-click="banking.sendUserQuery()">Send</button>
        </span>
    </div>
</div>
