<div resize ng-show="false">window.width: {{width}}
    <br>window.height: {{height}}</div>

<div class="row" style="padding: 10px"  resize ng-if="width > 520">
	<div class="col-xs-1 col-sm-1" ></div>
    <img  class="pwc-log-size col-xs-1 col-sm-1" src="alfredApp/images/pwc_logo.png">
    <div class="col-xs-2 col-sm-2"  style="margin-top: 10px"><strong>| India</strong></div>
</div>

<div ng-class="{'cover':vm.showChatIcon==false}"  resize ng-if="width > 520">
	<nav class="navbar navbar-inverse">
		<div class="col-xs-1 col-sm-1" ></div>
		<div class="col-xs-1 col-sm-1 nav-title">Explore</div>
	</nav>
	<img src="alfredApp/images/pwc_bg.jpg">
</div>

<div>
	<div ng-show="width > 520 && vm.showToolTip" class="talk-bubble tri-right round right-in">
	  <div class="talktext">
	  	<p>Hey I am Margreth!</p>
      <p>Do you need some help??</p>
	  </div>
	</div>
	<div ng-mouseover="vm.toggleToolTip()" ng-mouseleave="vm.toggleToolTip()" id="chat" resize ng-if="width > 520 && vm.showChatIcon" class="animated-chat tada" ng-click="vm.loadChatbox()"><img class="chat-icon-size" src="alfredApp/images/chat-icon.png"></div>

	<div  ng-class="{'chatbox':width > 520,'full-chatbox':width <= 520}" ng-hide="vm.showChatIcon" id="chatbox" >
		<span class="chat-text"><strong>m</strong>argreth </span>		
		<div resize ng-show="width > 520" id="close-chat" ng-click="vm.closeChatbox()">&times;</div>
		<div resize ng-show="width > 520" id="maxi-chat"><span class="maxi-button"  ng-click="vm.loadChatbox()">&plus;</span></div>
		<div  resize ng-show="width > 520" id="minim-chat"><div class="minim-button"  ng-click="vm.minimChatbox()">&minus;</div></div>

		<div ng-include src="'alfredApp/landing-screen.html'"></div>
	</div>
</div>
