<div  ng-controller = "insuranceCtrl as vm">

    <div id="boxBody" class="box-body" style="position:absolute; bottom:40px; top:0px; overflow-y: auto;">
        <div class="direct-chat-messages">
            <div data-ng-repeat="history in vm.conversationHistory track by $index">
                <div ng-if="history.userType == 'bot'" class="direct-chat-msg">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-timestamp pull-right">{{history.ts}}</span>
                    </div>
              <!-- /.direct-chat-info -->
                    <div>
                        <img class="direct-chat-img" src={{history.image}} alt="message user image">
                        <div class="direct-chat-text" compile="history.text" ng-if="history.text!=''"></div>
                        <div class="direct-chat-text padding-0" compile="history.addnData" ng-if="history.addnData!=''"></div>
                      </div>
                  </div>

                  <div ng-if="history.userType == 'me'" class="direct-chat-msg right">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-timestamp pull-left">{{history.ts}}</span>
                    </div>
            <!-- /.direct-chat-info -->
                  <div>
                      <img class="direct-chat-img" src={{history.image}} alt="message user image">
                      <div class="direct-chat-text" compile="history.text"></div>

                    </div>
                </div>
            </div>
      </div>
    </div>
    
    <div class="box-footer" style="position:absolute; bottom:0px;">

        <div class="input-group">
            <input type="text" name="message" placeholder="Ask me anything...." class="message-css form-control ng-valid ng-dirty ng-empty ng-touched" ng-enter="vm.sendUserQuery()" ng-model="vm.userText">
            <span style="padding-left:15px !important;" class="input-group-btn">
                <button class="message-button btn icon-only" ng-click="vm.sendUserQuery()">
                      <i class="fa fa-send-o send-button" class="send-button"></i>
                </button>
            </span>
        </div>
    </div>
</div>
