<div  ng-controller = "insuranceCtrl as vm">
        <div id="boxBody" class="box-body" style="position:absolute; bottom:40px; top:0px; overflow-y: auto;">
            <div class="direct-chat-messages">
                <div data-ng-repeat="history in vm.conversationHistory track by $index">
                    <div ng-if="history.userType == 'bot'" >
                        <div class="direct-chat-info clearfix">
                            <span class="direct-chat-timestamp pull-right">{{history.ts}}</span>
                        </div>

                        <div class="direct-chat-msg">
                            <img class="direct-chat-img" src={{history.image}} alt="message user image">
                            <div class="direct-chat-text" compile="history.text"></div>
                        </div>
                        <div style="margin-left:50px !important" class="direct-chat-msg" compile="history.addnData" ng-if="history.addnData!=''"></div>
                    </div>

                      <!-- <div class="scrolling-wrapper ng-scope" style="height:20vh;">
                          <div class="card" style="margin:0;">

                                <div>
                                  <img src="https://etimg.etb2bimg.com/photo/55579807.cms" alt="Avatar" style="width:10vw; height: 20vh;">

                                  <div style="padding-left: 40px !important;"><h5><b>Autowise</b></h5> <h6>Cashless claims,Conveyance Benefit,Comprehensive coverage,Medical payments coverage,Collision coverage</h6><br><h6>Get more details.</h6> </div>
                                </div>

                          </div>
                      </div> -->

                    <!-- <div  style="height:100px !important;">
                      <div>
                        <carousel interval="vm.myInterval">
                            <slide style="height:100px !important; background-color: #f39c12; border-radius: 5px;" ng-repeat="slide in vm.slides" active="slide.active">
                                <img class="card-image"  src="https://etimg.etb2bimg.com/photo/55579807.cms">
                                  <div class="carousel-caption">
                                      <div class="row card-header">
                                          Autowise
                                      </div>
                                      <div class="row card-text">
                                          Cashless claims, Conveyance Benefit, Comprehensive coverage, Medical payments coverage, Collision coverage
                                      </div>
                                      <div class="row card-text card-text-bottom">
                                          Get more details
                                      </div>

                                  </div>
                            </slide>
                          </carousel>
                        </div>
                      </div> -->


                      <div ng-if="history.userType == 'me'" class="direct-chat-msg right">
                        <div class="direct-chat-info clearfix">
                            <span class="direct-chat-timestamp pull-left">{{history.ts}}</span>
                        </div>

                        <div>
                          <img class="direct-chat-img" src={{history.image}} alt="message user image">
                          <div class="direct-chat-text" compile="history.text"></div>

                    </div>
                </div>
                </div>
          </div>
        </div>



    <div class="box-footer" style="position:absolute; bottom:0px;">

        <div class="input-group">
            <input type="text" name="message" placeholder="Ask me anything...." class="message-css form-control ng-valid ng-dirty ng-empty ng-touched" ng-enter="vm.sendUserQuery()" ng-model="vm.userText">
            <span style="padding-left:15px !important;" class="input-group-btn">
                <button class="message-button btn icon-only" ng-click="vm.sendUserQuery()">
                      <i class="fa fa-send-o send-button" class="send-button"></i>
                </button>
            </span>
        </div>
    </div>
</div>
