<div  class="main-bg" ng-controller="landingScreenCtrl as ctrl">
	<div ng-if="ctrl.selectedBot==undefined">
		<h1 class="center-text">Select your Bot</h1>
		<div class="row">
			<div class="col-xs-2 col-sm-2 col-md-2" >
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 info-box"  ng-click="ctrl.goToBot('fintech')">
				<span class="info-box-icon bg-aqua">
				<img src="alfredApp/images/fintech1.png" class="bot-logo-size"></img>
				</span>			
				<div class="info-box-content info-box-text">FINTECH</div>
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2" >
			</div>
		</div>	
		
		<div class="row">
			<div class="col-xs-2 col-sm-2 col-md-2" >
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 info-box"  ng-click="ctrl.goToBot('insurance')">
				<span class="info-box-icon bg-red">
				<img src="alfredApp/images/insurance1.png" class="bot-logo-size"></img>
				</span>			
				<div class="info-box-content  info-box-text ">INSURANCE</div>
				<!-- <button class="info-box-content" ng-click="vm.goToBot('investment')">Investment</button> -->
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2" >
			</div>
		</div>	
		
		<div class="row">
			<div class="col-xs-2 col-sm-2 col-md-2" >
			</div>
			<!-- <div class="col-sm-4" >
				<button class="btn-width" ng-click="vm.goToBot('banking')">Banking</button>
			</div> -->
			<div class="col-xs-8 col-sm-8 col-md-8 info-box "  ng-click="ctrl.goToBot('banking')">
				<span class="info-box-icon bg-green">
				<img src="alfredApp/images/banking1.png" class="bot-logo-size"></img>
				</span>			
				<div class="info-box-content  info-box-text">BANKING</div>
				<!-- <button class="info-box-content" ng-click="vm.goToBot('investment')">Investment</button> -->
			</div>
			<div class="col-xs-2 col-sm-2 col-md-2" >
			</div>
		</div>
	</div>

	<div ng-if="ctrl.selectedBot=='fintech'">
		<div ng-include src="'alfredApp/insurance.html'">
	</div>
	<div ng-if="ctrl.selectedBot=='banking'">
		<div ng-include src="'alfredApp/banking.html'">
	</div>
	<div ng-if="ctrl.selectedBot=='insurance'">
		<div ng-include src="'alfredApp/insurance.html'">
	</div>

</div>