<div  class="main-bg" ng-controller="landingScreenCtrl as ctrl">


	<div ng-if="ctrl.selectedBot==undefined || ctrl.selectedBot==''">

			<div class="select-bot-text"> Select your Bot</div>

			<div class="row landing-row">
					<div class="col-xs-6" style="text-align:center; padding-right: 0px; padding-left: 0px;" ng-click="ctrl.goToBot('fintech')">
							<div class="btn btn-success landing-button" style="text-align:center;">
									<img src="alfredApp/images/banking_icon.png" class="bot-logo-size">
									<div style="color: #000000cc;padding-top: 5px;	">
											Banking Customer
									</div>
							</div>
					</div>
					<div class="col-xs-6" style="text-align:center; padding-right: 0px; padding-left: 0px;">
							<div class="btn btn-success landing-button" style="text-align:center;" ng-click="ctrl.goToBot('banking')">
									<img src="alfredApp/images/banking_icon.png" class="bot-logo-size">
									<div style="color: #000000cc;padding-top: 5px;	">
											Banking Internal
									</div>
							</div>
					</div>
			</div>
			<div class="row landing-row">
					<div class="col-xs-6" style="text-align:center; padding-right: 0px; padding-left: 0px;">
							<div class="btn btn-success landing-button" style="text-align:center;" ng-click="ctrl.goToBot('insurance')">
									<img src="alfredApp/images/banking_icon.png" class="bot-logo-size">
									<div style="color: #000000cc;padding-top: 5px;	">
											Insurance Customer
									</div>
							</div>
					</div>
					<div class="col-xs-6" style="text-align:center; padding-right: 0px; padding-left: 0px;">
							<div class="btn btn-success landing-button" style="text-align:center; ">
									<img src="alfredApp/images/banking_icon.png" class="bot-logo-size">
									<div style="color: #000000cc;padding-top: 5px;	">
											Insurance Internal
									</div>
							</div>
					</div>
			</div>
	</div>

	<div ng-if="ctrl.selectedBot!=undefined && ctrl.selectedBot!=''">
		<img  resize ng-show="width <= 520"  class="bck-btn margin-top-5" src="alfredApp/images/back.png" ng-click="ctrl.goBackToLandingScreen()" alt="Go Back">
		<img  resize ng-show="width > 520" class="bck-btn margin-top-30" src="alfredApp/images/back.png" ng-click="ctrl.goBackToLandingScreen()" alt="Go Back">
		<div ng-if="ctrl.selectedBot=='fintech'">
			<div ng-include src="'alfredApp/insurance.html'"></div>
		</div>
		<div ng-if="ctrl.selectedBot=='banking'">
			<div ng-include src="'alfredApp/banking.html'"></div>
		</div>
		<div ng-if="ctrl.selectedBot=='insurance'">
			<div ng-include src="'alfredApp/insurance.html'"></div>
		</div>
	</div>

</div>
