<div  class="main-bg">
<div >
	<h1 class="center-text">Select your Bot</h1>
	<div class="row">
		<div class="col-xs-2 col-sm-4 col-md-5" >
		</div>
		<div class="col-xs-8 col-sm-4 col-md-2 info-box"  ng-click="goToBot('fintech')">
			<span class="info-box-icon bg-aqua">
			<img src="alfredApp/images/fintech.jpg" class="bot-logo-size"></img>
			</span>			
			<div class="info-box-content info-box-text">FINTECH</div>
		</div>
		<div class="col-xs-2 col-sm-4 col-md-5" >
		</div>
	</div>	
	<br>
	<div class="row">
		<div class="col-xs-2 col-sm-4 col-md-5" >
		</div>
		<div class="col-xs-8 col-sm-4 col-md-2 info-box"  ng-click="goToBot('insurance')">
			<span class="info-box-icon bg-red">
			<img src="alfredApp/images/insurance.png" class="bot-logo-size"></img>
			</span>			
			<div class="info-box-content  info-box-text ">INSURANCE</div>
			<!-- <button class="info-box-content" ng-click="vm.goToBot('investment')">Investment</button> -->
		</div>
		<div class="col-xs-2 col-sm-4 col-md-5" >
		</div>
	</div>	
	<br>
	<div class="row">
		<div class="col-xs-2 col-sm-4 col-md-5" >
		</div>
		<!-- <div class="col-sm-4" >
			<button class="btn-width" ng-click="vm.goToBot('banking')">Banking</button>
		</div> -->
		<div class="col-xs-8 col-sm-4 col-md-2 info-box "  ng-click="goToBot('banking')">
			<span class="info-box-icon bg-green">
			<img src="alfredApp/images/banking.png" class="bot-logo-size"></img>
			</span>			
			<div class="info-box-content  info-box-text">BANKING</div>
			<!-- <button class="info-box-content" ng-click="vm.goToBot('investment')">Investment</button> -->
		</div>
		<div class="col-xs-2 col-sm-4 col-md-5" >
		</div>
	</div>
</div>
</div>