<!-- <ul ng-controller="chatbotCtrl as vm">
  <li ng-if="vm.notification.length != 0" ng-repeat="text in vm.notification track by $index">
    <td>
      <span ng-bind-html="vm.formatString(text)"></span>
      <span data-ng-show="text.indexOf('https://my.busybotapp.com/tasks/')==-1"> {{text}}</span>
      <div data-ng-show="text.indexOf('https://my.busybotapp.com/tasks/')>1" ng-include src="'chatbot/template.html'"></div>
    </td>
  </li>
  <li ng-if="vm.notification.length == 0">Sorry, no message psoted yet!!</li>
 -->

  <div class="col-sm-3 col-sm-offset-4 frame">
    <ul></ul>
    <div>
      <div class="msj-rta macro" style="margin:auto">
        <div class="text text-r" style="background:whitesmoke !important">
          <input class="mytext" placeholder="Type a message" />
        </div>
      </div>
    </div>
  </div>


<!-- </ul> -->
