<div class="row" style="margin-right: 2%;">
	<div class="form-group">
		<div class="col-md-2"> 
			<button type="button" style="width: 100%;" class="btn btn-primary" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
        	{{vm.buttonLabel.text}}
    		</button>
    	</div>
		<div class="col-md-2">
			<ui-select ng-model="day" data-ng-change="vm.updateEvent(day)" theme="bootstrap" >
            <ui-select-match placeholder="{{(vm.daySelect.text!== undefined)? vm.daySelect.text: 'completed'}}">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="item in vm.days | filter: $select.search">
              <div>{{item}}</div>
            </ui-select-choices>
          </ui-select>
		</div>
		<div class="col-md-2">
			<ui-select ng-model="action" data-ng-change="vm.updateEvent(action.value)" theme="bootstrap">
            <ui-select-match placeholder="Actions">{{$select.selected.value}}</ui-select-match>
            <ui-select-choices group-by="'grouplabel'" repeat="item in vm.actions | filter: $select.search">
              <div>{{item.value}}</div>
            </ui-select-choices>
          </ui-select>
		</div>
	</div>
</div>
